.site-footer {
    margin: 100px 0 0 0;
    font-size: 13px;
    background: #222;
    color: #9e9e9e;
}

.site-footer a {
    color: #9e9e9e;
    font-size: 13px;
}

.site-footer a:hover {
    color: #fff;
}

.site-footer .footerNavArea .footerNav li i {
    font-size: 20px;
    vertical-align: middle;
}

.site-footer .footerNavArea .footerNav a {
    padding: 0 30px 0 10px;
}

.site-footer .footerInfoWrap {
    padding: 50px;
}

.site-footer .footerInfoWrap .copy {
    padding-top: 30px;
}

.site-footer .footerInfoWrap .copy a {
    margin-top: -4px;
    display: inline-block;
}

.site-footer .footerInfoWrap .escrow {
    padding-top: 10px;
}

.site-footer .footerInfoWrap ul:after {
    content: "";
    display: block;
    clear: both;
}

.site-footer .footerInfoWrap>ul>li:first-child {
    float: left;
}

.site-footer .footerInfoWrap ul.footerNav li a {
    display: block;
    margin: 0 0 16px;
}

.site-footer .footerInfoWrap .list {}

.site-footer .footerInfoWrap .list.info {
    float: left;
}

.site-footer .footerInfoWrap .list.info .subTxt .tel {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}

.site-footer .footerInfoWrap .list.info .subTxt .csCenter {
    margin: 10px 0 40px;
    font-size: 14px;
}

.site-footer .footerInfoWrap .list.info .subTxt .cpTxt {
    line-height: 20px;
}

.site-footer .footerInfoWrap .list.info .subTxt .cpTxt a {
    margin-top: -4px;
    display: inline-block;
}

.site-footer .footerInfoWrap .ftMenu {
    float: right;
}

.site-footer .footerInfoWrap .ftMenu>ul>li {
    float: left;
    width: 22%;
}

.site-footer .footerInfoWrap .ftMenu>ul>li:last-child {
    width: 44%;
}

.site-footer .footerInfoWrap .ftMenu .footerNav {}

.site-footer .footerInfoWrap .ftMenu .footerNav li {
    margin-right: 10px;
}

.site-footer .footerInfoWrap .ftMenu .footerNav li:first-child {
    padding-left: 0;
}

.site-footer .footerInfoWrap .ftMenu .snsArea {
    margin-left: -15px;
}

.site-footer .footerInfoWrap .ftMenu .snsArea li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.site-footer .footerInfoWrap .ftMenu .snsArea li a {
    font-size: 26px;
    width: 42px;
    height: 42px;
    display: block;
    line-height: 42px;
    text-align: center;
}

.site-footer .footerInfoWrap .ftMenu .snsArea li a:hover {
    color: #fff;
}

.site-footer .footerInfoWrap .ftMenu .escrow {
    line-height: 20px;
}

.site-footer .footerInfoWrap .ftMenu .escrow a {
    display: block;
    color: #fff;
    margin-top: 4px;
}


/* BASIC css end */