#hdWrap {
    position: fixed;
    margin: 0px 30px 0px 30px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#hdWrap .hdArea {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    /* height: 90px; */
    z-index: 105;
    font-size: 11px;
    background: #fff;
}

#hdWrap.fix .hdArea {
    border: none;
    background: #fff;
    opacity: 0.98;
    box-shadow: 0 1px 5px rgba(49, 49, 49, 0.1);
}

.minSizeWrap {
    position: relative;
    min-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

/* 상단배너 */
#headerBanner {
    display: none;
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #494753;
}

#headerBanner .hdBannerImg {
    position: relative;
    width: 100%;
    height: 40px
}

#headerBanner .hdBannerImg .bnImg {
    margin-left: -600px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1200px;
    height: 40px
}

#headerBanner .hdBannerImg .bnImg a,
#headerBanner .hdBannerImg .bnImg img {
    vertical-align: top
}

#headerBanner .bnClose {
    position: absolute;
    top: 8px;
    right: 50px
}

#headerBanner .bnClose a {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 26px;
    color: #fff;
    text-align: center;
}

#hdWrap .toparea {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(0);
    position: relative;
    z-index: 11;
}

#hdWrap .toparea .stateMenu {
    display: flex;
}

/* 로고 영역  */
#hdWrap .hdLeft {
    position: absolute;
    left: 60px;
    top: 21px;
}


#hdWrap .hdLeft .hd_logo {
    font-size: 36px;
    font-weight: 600;
}

/* 카테고리 */
#hdWrap .hdCate {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 100px; */
}

#hdWrap .hdCate .menuAllBtn {
    position: absolute;
    left: 0;
    top: 35px;
    cursor: pointer
}

#hdWrap .hdCate .cateWrap {
    position: relative;
    margin: 0 280px;
}

#hdWrap .hdCate .cateWrap a:hover {
    color: #9c9c9c;
}

#hdWrap .hdCate .cateWrap .tmenu {
    position: relative;
    padding: 36px 13px;
    display: inline-block;
}

#hdWrap .hdCate .cateWrap .tmenu a {
    font-size: 16px;
    font-weight: 300;
}

#hdWrap .hdCate .cateWrap .tmenu .depth2 {
    display: none;
    position: absolute;
    background: #fff;
    top: 86px;
    left: 50%;
    width: 118px;
    margin-left: -60px;
    padding: 10px 0;
    z-index: 97;
    text-align: center;
}

#hdWrap .hdCate .cateWrap .tmenu .depth2 li a {
    display: block;
    line-height: 24px;
    font-size: 13px;
}

#hdWrap .hdCate .cateWrap .tmenu .depth2 li a:hover {
    color: #9c9c9c;
}

#hdWrap .topRight {
    position: absolute;
    right: 0;
}

#hdWrap .topRight li {
    position: relative;
    padding: 0 8px;
    display: inline-block;
}

#hdWrap .topRight li a {
    font-size: 13px;
    color: #666;
}

#hdWrap .topRight li a:hover {
    color: #9c9c9c;
}

#hdWrap .topRight li a.searchBtn {
    font-size: 26px;
    color: #2e2e2e;
    line-height: 20px;
}

#hdWrap .topRight li.cartArea a {}

#hdWrap .cartArea {
    position: relative;
}

#hdWrap .cartArea .bsCount {
    position: absolute;
    top: -16px;
    right: -16px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    background-color: #f7e1bc;
    text-align: center;
    font-size: 11px;
    color: #2e2e2e;
}

/* 검색창 */
#hdWrap .searchArea {
    display: none;
    width: 290px;
    position: absolute;
    top: -4px;
    right: 39px;
    z-index: 10;
}

#hdWrap .searchArea .search {
    position: relative;
}

#hdWrap .searchArea .search fieldset {
    position: relative;
    float: left;
    margin: 0 auto;
}

#hdWrap .searchArea .search input {
    border: 0;
    width: 198px;
    height: 36px;
    font-size: 13px;
    font-weight: 300;
    background: #f0f0f0;
    color: #000;
    border-radius: 6px;
    padding: 0 34px 0 12px;
}

#hdWrap .searchArea .search .searhBtn {
    font-size: 22px;
    position: absolute;
    top: 5px;
    right: 14px;
}

#hdWrap .searchArea .search .searchClose {
    width: 35px;
    font-size: 26px;
    float: left;
    background: #fff;
    text-align: center;
    line-height: 40px;
    margin-left: 5px;
}

@media screen and (max-width:1280px) {
    #hdWrap .hdCate .cateWrap {
        margin: 0 100px 0 180px;
    }
}

/* 전체메뉴 레이어 */
.allMenu {
    display: none;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 201;
}

.allMenu .allMenuWrap {
    width: 84%;
    margin: 0 auto;
}

.allMenu .allMenuWrap a:hover {
    color: #9c9c9c;
}

.allMenu .allMenuWrap h3 {
    font-size: 16px;
    font-weight: bold;
    padding: 1% 0 0.5% 1%;
}

.allMenu .allMenuWrap .closeBtn {
    display: block;
    margin: 4% 0;
    font-size: 40px;
    text-align: center
}

.allMenu .allMenuWrap .allMenuList {
    *zoom: 1;
}

.allMenu .allMenuWrap .allMenuList:after {
    display: block;
    clear: both;
    content: ''
}

.allMenu .allMenuWrap .allMenuList dl {
    padding: 0 1% 3%;
    float: left;
    width: 14.6%;
}

.allMenu .allMenuWrap .allMenuList dl dt {
    border-bottom: 1px solid #ddd;
    margin-bottom: 4px;
}

.allMenu .allMenuWrap .allMenuList dl dt a {
    padding-left: 7px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

.allMenu .allMenuWrap .allMenuList dl dd a {
    display: block;
    padding: 6px 0 3px 7px;
    color: #888;
    font-size: 13px;
}

.allMenu .allMenuWrap .allMenuList dl dd a:hover {
    color: #2e2e2e;
}

.allMenu .allMenuWrap .boardList:after {
    display: block;
    clear: both;
    content: ''
}

.allMenu .allMenuWrap .boardList li {
    float: left;
    padding: 0 1%;
}

.allMenu .allMenuWrap .csInfo {
    padding: 4% 0 0;
    text-align: center;
    font-size: 13px;
}

.allMenu .allMenuWrap .csInfo span {
    padding: 0 1%;
    opacity: 0.4;
}